.header {
	background-color: #238AC5;
	height: 48px;
	padding-left: 10px;
}

.headerlogo {
	background-color: #FFFFFF;
	width: 12px;
	height: 32px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.headerwordpress{
	background-color: #FFFFFF;
	width: 90px;
	height: 32px;
	padding-left: 60px;
	border-left: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-color: #238AC5;
	float: left;
}
.headerloginbox{
	background-color: #146FA9;
	height: 48px;
	width: 75px;
	padding-bottom: 2px solid #105F96;
	float: right;

}

.firstpage{
	background-color: #354052;
	padding-bottom: 45px; 

}
.text1 {
	color: white;
	font-size: 32px;
	font-family: sans-serif;
	padding-top: 160px;
	padding-left: 52px;
	padding-right: 52px;
	text-align: center;
}
.text2 {
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	padding-top: 28px;
	padding-right: 100px;
	padding-left: 100px;
	text-align: center;
}

.CreateWebsiteBox{
	background-color: #238AC5;
	width: 210px;
	border:10px solid #212935;
	height: 50px;
	margin: 30px auto;
}

.NextPageBox1 {
	height: 18px;
	width: 47px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin:200px auto 125px auto;
}

.smallfeaturesbox {
	height: 67px;
	width: 300px;
	background-color: #FFFFFF;
	margin:30px auto;
}
.smallfeaturesboxicon{
	background-color: ##626E81;
	float: left;
	width: 48px;
	height: 48px;	
}

.smallfeaturesboxdescription{
	background-color: ##626E81;
	float: right;
	width: 48px;
	height: 48px;

}

.WordpressisEasy {
	background-color: #E8F0F6;
	height: 188px;
	width: 100%;
}
.wordpressblurb {
	font-size: 
}

.bigfeaturesboxbackground{
	background-color: #D0D2D6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px; 
}

.bigfeaturesbox{
	background-color: #FFFFFF;
	height: 215px;
	margin: 28px auto; 

}
.finalbuttonbackground {
	background-color: #E7EFF5;
	padding-top: 55px;
	padding-bottom: 20px;

}

.finalbutton{
	height: 50px;
	width: 208;
	background-color: #238AC5;
	margin-left:150px;
	margin-right: 150px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.footer{
	background-color: black;
	padding-top: 100px;
	padding-bottom: 20px;

}
.footertext{
	font-family: sans-serif;
	color:white;
	text-align: center;
	font-size: 12px;
}
.footerbox{
	height: 25px;
	width: 100px;
	background-color: white;
	margin:0 auto;
}